main {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  margin: 0 50px;
  padding-top: 50px;
  padding-bottom: 40px;
}
.item-1 {
  width: 50%;
}
.item-2 {
  width: 50%;
}
@media screen and (max-width: 769px) {
  main {
    flex-direction: column;
    margin: 0 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 750px) {
  main {
    flex-direction: column;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}
